@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: gray;
}
body {
  @apply bg-white dark:bg-gray-900;
}
.labelStyle {
  @apply peer-focus:font-medium absolute text-sm text-black dark:text-gray-200 duration-300 transform 
  -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
  rtl:peer-focus:left-auto peer-focus:text-[#A69999] 
  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 
  peer-focus:scale-75 peer-focus:-translate-y-6 font-semibold;
}

.inputStyle {
  @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 
  border-[#A69999] appearance-none dark:text-white dark:border-gray-600 
  focus:outline-none focus:ring-0 focus:border-[#A69999];
}

.textStyle {
  @apply text-gray-900 dark:text-gray-300;
}
.iconsStyle {
  @apply text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-xl;
}
